:root {
    --txt-color: #212121;
    --green: #09A494;
    --bg-color: #FFFFFF;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body { 
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5; /*line-height/font-size*/
    text-align: left;

    color: var(--txt-color);
    background-color: var(--bg-color);
}

h1 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
}

h2 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    margin-bottom: 40px;
}

h3 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}  

button, a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
}

button {
    padding: 6px 10px 10px; /*сверху, справа и слева, снизу*/
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
    background-color: var(--bg-color);
    cursor: pointer;
    text-transform: lowercase;
}

button:hover {
    color: var(--bg-color);
    background-color: var(--green);
}

section {
    margin-top: 120px;
}

.button-nav {
        display: none;
      }

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact {
    display: inline-flex; /* позволяет контейнеру занимать лишь пространство, занимаемое его содержимым. */
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
    gap: 40px;
    white-space: nowrap;
}

.contacts {
    margin-bottom: 120px;
}


.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
    
}

.contact-link {
    display: block;
    padding: 0 0 0 42px; /*сверху, справа, снизу, слева*/
    background-repeat: no-repeat;
    background-position: left;
    text-decoration: none;
    color: var(--txt-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact-link:hover {
    color: var(--green);
}

.contact-link_phone {
    background-image: url(../img/contacts_phone.svg);
}

.dark-theme {
  --txt-color: #CCCCCC;
  --bg-color: #031923;
}
.dark-theme .contact-link_phone {
    background-image: url(../img/dark-theme/contacts_phone.svg);
}

.contact-link_mail {
    background-image: url(../img/contacts_mail.svg);
}

.dark-theme .contact-link_mail {
    background-image: url(../img/dark-theme/contacts_mail.svg);
}

.dark-theme .social-link {
  background-color: #CCCCCC;
}

.dark-theme footer {
  background-color: var(--green);
}

.intro {
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: space-between;
}

.intro h1 {
    margin-bottom: 20px;
    margin-top: 0;
}

.intro p {
    margin: 0;
}

.main-header {
    display: flex;
    padding-top: 60px;
    gap: 40px;
    align-items: center;
  }

.main-nav {
    display: flex;
    align-items: center;
    padding: 0;
    order: 1;
  }

.main-nav a {
    text-decoration: none;
    padding: 10px 15px 10px 15px; /*сверху, справа, снизу, слева*/
    color: var(--txt-color);
}

.main-nav a:hover {
    color: var(--green);
}

.main-footer {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.social {
    display: flex;
    margin: 0 auto;
    padding: 0;
    gap: 20px;
    white-space: nowrap;
    list-style-type: none;
}


.social li {
    display: inline-block;
    margin: 0;
    padding: 0px;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 50%;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover {
    background-color: var(--green);
}

.social-link_github {
    background-image: url("../img/social_github.svg");
}

.social-link_gitlab {
    background-image: url("../img/social_gitlab.svg");
}

.social-link_instagram {
    background-image: url("../img/social_instagram.svg");
}

.social-link_telegram {
    background-image: url("../img/social_telegram.svg");
}

.social-link_vkontakte {
    background-image: url("../img/social_vk.svg");
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 40px;
}

.skills h2 {
  margin-bottom: 0;
}

.skills-header {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
    gap: 20px;
    margin-bottom:  40px;
}
  
.skills-sort {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0;
    gap: 20px;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100%;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}

.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--txt-color);
    border-radius: 16px;
}

.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}

.skill-item {
    text-transform: lowercase;
}

.switch {    
  position: fixed;
  bottom: 20px;
  right: 20px;  
  width: 60px;
  height: 34px;
}

.switch-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #CCCCCC;
  cursor: pointer;
  transition: 0.4s;
}

.switch-slider:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    margin: auto 0;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url('../img/dark-theme/moon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    transition: 0.4s;
}

.switch-checkbox:checked + .switch-slider:before {
    transform: translateX(24px);
    background-color: #FFFFFF;
    background-image: url('../img/dark-theme/sun.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--green);
}

.text-wrapper {
    max-width: 800px;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.user-photo {
    border-radius: 50%;
}

footer {
    color: var(--bg-color);
    background-color: var(--txt-color);
}

@media screen and (max-width: 1024px) {   
    body {
        font-size: 16px;
      }
      h1 {
        font-size: 50px;
      }
    
      h2 {
        font-size: 24px;
      }
      
      a,
      button {
        font-size: 16px;
      }
      
      .button-nav {
        display: none;
      }
      
      section {
        margin-top: 80px;
      }

      .contacts {
        margin-bottom: 80px;
      }

      .contact-link {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    
      .main-header {
        padding-top: 60px;
      }
      
      .subtitle {
        font-size: 28px;
      }
    
      .user-photo {
        width: 250px;
        height: 250px;
      }
    }

@media screen and (max-width: 650px) {   
      
      body {
        font-size: 14px;
      }
      h1 {
        font-size: 32px;
      }
    
      h2 {
        margin-bottom: 30px;
        font-size: 20px;
      }
      
      a,
      button {
        font-size: 14px;
      }

      section {
        margin-top: 50px;
      }

      .button-nav {
        display: flex;
        border: 0;
        background: none;
        display: block;
        width: 30px;
        height: 30px;
      }

      .button-nav:hover {
        background-color: transparent;
        color: var(--txt-color);
        opacity: 1;
    }
    
      .button-nav_close {
        background-image: url(../img/close.svg);
      }
    
      .button-nav_open {
        background-image: url(../img/burger.svg);
      }

      .contact-link {
        padding-top: 8px;
        padding-bottom: 8px;
    }
      
      .intro {
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    
      .intro h1 {
        margin-bottom: 10px;
      }
    
      .main-header{
        padding-top: 20px;
        gap: 20px;
      }
      
      .main-header img {
        width: 40px;
        height: 40px;
      }
      
      .main-nav a {
        margin: 10px;
      }
      
      .main-header,
      .main-nav {
        flex-direction: column;
      }

      .main-nav_closed{
        display: none;
      }
      
      .name {
        order: 1;
      }
    
      .logo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .skills h2 {
        margin-bottom:  0;
    }
      
      .subtitle {
        font-size: 20px;
      }

      .user-photo {
        width: 150px;
        height: 150px;
        order: 0;
      }
    
      .contact {
        margin-bottom: 20px;
      }

      .contacts {
        margin-bottom: 50px;
    }
    
      .contacts h2 {
        margin-bottom: 30px;
      }

      .main-footer {
        padding: 30px 0 30px;
      }
      
      .social {
        gap: 15px;
      }

      .skills p {
        margin-bottom: 0;
      }

      .skills-header {
        display: flex;
        margin-bottom: 30px;
      }

      .skills-sort {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    
      .skills-sort button {
        text-align: center;
        border-radius: 8px;
        padding: 6px 10px 10px 10px;
      }

}

@media screen and (max-width: 380px) {   

      section {
        margin-top: 50px;
      }

      .contacts {
        margin-bottom: 50px;
      }
      
      .contact-link {
        padding-top: 8px;
        padding-bottom: 8px;
    }

      .skills-header {
        flex-direction: column;
        gap: 20px;
      }

      .skills-sort {
        gap: 10px;
        width: 100%;
        flex-direction: column;
        align-items: start;
      }
    
      .skills-sort button {
        width: 100%;
      }
    
      .skills p {
        margin-bottom: 0;
      }

      .contact {
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 15px;
      }

      .social {
          flex-wrap: wrap;
          gap: 15px;
      }
 
}